.markdown {
  @apply leading-relaxed max-w-3xl text-sm 2xl:max-w-4xl;

  h1 {
    @apply mt-6 mb-10 text-center text-light-title dark:text-dark-title;
  }

  h2 {
    @apply mt-6 mb-4 relative;

    &::before {
      @apply absolute left-[-16px] text-common-active;

      content: "»";
    }

    a {
      @apply text-light-secondary dark:text-dark-secondary;
    }
  }

  // tags
  h6 {
    @apply hidden;
  }

  a {
    @apply text-common-active  hover:border-b hover:border-common-active;
  }

  img {
    @apply mx-auto my-4 w-10/12;
  }

  pre {
    @apply my-4 p-4 whitespace-pre-wrap rounded;
  }

  p {
    @apply my-3 leading-6;

    > code {
      @apply px-1 py-[2px] text-gray-500 bg-gray-100 rounded-md;
    }
  }

  li {
    @apply pl-2 py-1 list-disc list-inside;

    p {
      @apply inline;
    }
  }

  // alert area
  %alert-block {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-left: 4px solid;
    border-radius: 0.25rem;
  }

  blockquote {
    @apply text-alert-gary-text bg-alert-gary-bg  border-alert-gary-border;

    @extend %alert-block;
  }

  .success {
    @apply text-[#33691E] bg-[#CAD9C0] border-[#7F8D7C];

    @extend %alert-block;
  }

  .info {
    @apply text-[#536483] bg-[#C8DAE9] border-[#4F728A];

    @extend %alert-block;
  }

  .warning {
    @apply text-[#93732F] bg-[#F8F0D2] border-[#D3AE5B];

    @extend %alert-block;
  }

  .danger {
    @apply text-[#A44A43] bg-[#F1DEDF] border-[#D59DA4];

    @extend %alert-block;
  }

  .spoiler > p {
    @apply ml-4;
  }
}
