// app transitions
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
}

.slide-reverse-enter-active,
.slide-reverse-leave-active {
  transform: translateX(0%);
  transition: all 1.5s ease-in-out;
}

.slide-reverse-enter,
.slide-reverse-leave-to {
  transform: translateX(100%);
}

// animation
@keyframes twinkle {
  from {
    box-shadow: inset -3px 0 0 rgb(255, 211, 17);
  }

  to {
    box-shadow: inset -3px 0 0 transparent;
  }
}

@keyframes swing {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
