@import "./transition";
@import "./markdown";

* {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

.app {
  @apply flex flex-col justify-between min-h-screen text-light-text dark:text-dark-text dark:bg-dark-bg;

  transition: background-color 0.5s ease-in-out;

  ::selection {
    @apply bg-common-active bg-opacity-50 dark:bg-opacity-70;
  }
}

// override tailwind .container
.container {
  @apply flex-grow xl:max-w-5xl 2xl:max-w-7xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply py-1;
}
