$gray-500: #6b7280;
$gray-100: #eee;

// for <code> tag which is under <p> and <li>.
%code-block {
  padding: 0.125rem 0.25rem;
  color: $gray-500;
  background-color: $gray-100;
  border-radius: 0.375rem;
}

// for alert area
%alert-block {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-left: 4px solid;
  border-radius: 0.25rem;
}

.markdown {
  @apply leading-relaxed max-w-3xl text-sm 2xl:max-w-4xl;

  h1 {
    @apply mt-6 mb-10 text-center text-light-title dark:text-dark-title;
  }

  h2 {
    @apply mt-16 mb-4 relative;

    &::before {
      @apply absolute left-[-16px] text-common-active;

      content: "»";
    }

    a {
      @apply text-light-secondary dark:text-dark-secondary;
    }
  }

  h3 {
    @apply mt-6 text-[16px];
  }

  // tags
  h6 {
    @apply hidden;
  }

  a {
    @apply text-common-link hover:border-b hover:border-common-active;
  }

  img {
    @apply my-4 2xl:w-[80%];
  }

  pre {
    @apply my-4 p-4 rounded whitespace-pre-wrap break-all md:break-words;
  }

  summary {
    @apply outline-none;
  }

  p {
    @apply my-3 leading-6;

    > code {
      @extend %code-block;
    }
  }

  li {
    @apply pl-2 py-1 list-disc list-inside;

    > code {
      @extend %code-block;
    }

    p {
      @apply inline;
    }

    > ul > li {
      list-style-type: circle;
    }
  }

  // table
  table {
    @apply border-2 border-gray-300;

    tr,
    td {
      @apply px-2 py-1 divide-x-2 divide-gray-300;
    }

    tr {
      @apply even:bg-gray-100 dark:even:bg-opacity-20;
    }

    thead {
      @apply border-b-2 border-gray-300;
    }

    tbody {
      @apply divide-y-2 divide-gray-300;
    }
  }

  /*
  start - alert area
  */

  blockquote {
    @apply text-alert-default-text bg-alert-default-bg  border-alert-default-border dark:bg-opacity-80;

    @extend %alert-block;
  }

  .success {
    @apply text-alert-success-text bg-alert-success-bg border-alert-success-border dark:bg-opacity-90;

    @extend %alert-block;
  }

  .info {
    @apply text-alert-info-text bg-alert-info-bg border-alert-info-border dark:bg-opacity-90;

    @extend %alert-block;
  }

  .warning {
    @apply text-alert-warning-text bg-alert-warning-bg border-alert-warning-border dark:bg-opacity-90;

    @extend %alert-block;
  }

  .danger {
    @apply text-alert-danger-text bg-alert-danger-bg border-alert-danger-border dark:bg-opacity-90;

    @extend %alert-block;
  }

  .spoiler {
    @apply p-2 border border-dashed rounded;
  }
}

/*
  end - alert area
*/
